<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.polytech.mlg.releaze.house.design.Activator"
               id="fr.polytech.mlg.releaze.house.design"
	       name="polycreate">
    </component>
  </extension>
</plugin>
